.carouselInner .left{
    /* flex: 5%; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    cursor: pointer;
}
.movie-slider{
    max-width: 100px;

}

.title{
    color: red;
   

}
.search-result h3 {
    margin-top: 10px;
    font-size: 18px;
  }